* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 300%;
    color: rgb(248, 205, 14);
    border:rgb(116, 11, 187) outset 5px;
    padding: 0px;
    width: fit-content;
    background-color: rgb(159, 91, 199);
    border-radius: 5px;
    margin-left: 1%;
}

body {
    background-color: #00b7ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1422' height='1185' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

#gas-counter,
#gas-counter-label {
    color: red;
    white-space: nowrap;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    margin-top: .1rem;
}

#gas-per-second-meter,
#gas-per-second-meter-label {
    white-space: nowrap;
    margin: 0 auto;
    margin-top: 1rem;
    
}

.wave-text-class {
    animation: wave-text 0.75s ease-in-out infinite;
}

@keyframes wave-text {
    0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(0.4rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
}

.cookie:active {
    transform: scale(0.98);
}

.koffing-zone {
    display: flex;
    box-sizing: border-box;
    width: 25%;
    height: 75%;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    user-select: none;
    order: 1;
}

.cookie {
    flex: 1, 1, auto;
}

.buildings {
    display: flex;
    box-sizing: border-box;
    width: 150px;
    height: 75%;
    flex-direction: column;
    order: 4;
}

.building {
    border: solid black 2px;
    opacity: 50%;
    height: 120px;
    max-width: 150px;
}

.building:hover {
    opacity: 100%;
    box-shadow: grey 5px;
}

.gps-hover {
    font-size: larger;
}

.main-elements {
    display: flex;
    flex-direction: row;
}

.upgrades {
    order: 3;
    display: flex;
    flex-flow: row wrap;
    padding-left: 30px;
    width: 400px;
    align-content: flex-start;
}

.upgrade {
    height: 50px;
    width: 50px;
    order: 2;
    border: outset brown 3px;
    margin: 2px;
}

.upgrade-zone .upgrade-info{
    text-decoration: none;
    position: relative;
    display: none;
}

.upgrade-zone:hover .upgrade-info{
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 1001;
    border: peru solid 2px;
    margin: 3px;
    padding: 3px;
    background-color: thistle;
}

#upgrades-header {
    order: 0;
    width: inherit;
    height: 25px;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.description {
    white-space: nowrap;
}

.description-emph{
    color: blueviolet;
}

.sprites-zone {
    order: 6;
}

.sprites {
    height: 120px;
    width: 600px;
    overflow-y: scroll;
}

.achievements {
    padding-top: 10px;
}

.achievement {
    color: blue;
}

.marquee {
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    width: max-content;

    padding-left: 100%;
    will-change: transform;
    animation: marquee 15s linear 1;
}

.marquee span:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% { transform: translate(0,0); }
    100% { transform: translate(-100%, 0); }
}

.lower-menu-bar {
    position: fixed;
    bottom:10px;
    display: flex;
}

.setting.important {
    color:red;
}

/* Credit to w3schools.com for this snackbar css code! */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 100px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }