h1 {
    color: gray;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

particle {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    opacity: 0;
}

.koffing:active {
    transform: scale(0.98);
}

.koffing-zone {
    display: flex;
    justify-content: center;
}