h1 {
    color:gray;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

button {
    border: rgb(100, 62, 27) solid 10px;
    color: black;
}

.koffing-zone {
    display: flex;
    justify-content: center;
}